.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #fcebb3;
  color: #000;
  padding: 10px;
  flex-wrap: wrap;
}
.navbar img {
  width: 30%px;
}
.navbar-dark {
  background-color: #000;
}
.light-title {
  color: #000;
}

.dark-title {
  color: #fcebb3;
}

.categories {
  list-style: none;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  color: #000;
}
.li-dark {
  color: #fcebb3;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  border-radius: 25%;
  margin: 10px;
  /* padding: 15px; */
}
.dark-logo {
  border-style: dotted;
  border-color: #fcebb3;
  border-radius: 25%;
  border-width: 3px;
  margin: 10px;
}
