.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: auto;
  margin: 25px;
  padding: 20px;
}
.card-light {
  color: #000;
}

.card-dark {
  color: #fff;
}

.card-image {
  width: 75%;
  margin: 25px;
  transition: 0.5s;
}
.card-image:hover {
  transform: scale(1.125);
}
.card-dark img {
  width: 75%;
  margin: 20px;
}
.agotado {
  background-color: crimson;
  padding: 10px;
}
.info {
  margin: 15px;
}
.title {
  text-transform: capitalize;
}
.detail-button {
  background-color: #62ed67;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10%;
}
.detail-button a {
  text-decoration: none;
}
